# How to change index and names while creating the dataframe?, Question 1

In [1]:
import pandas as pd

In [2]:
# creating a sample dataframe
data = {"wisdom": [10, 20, 30],
        "henry": [40, 50, 60],
        "gift": [70, 80, 90]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
# how to change index
df.index = ["Row1", "Row2", "Row3"]

In [5]:
# how to renaming the columns
df.rename(columns={"wisdom": "king", "henry": "fred", "great": "Gamma"}, inplace=True)

# displace the modified DataFrame
print(df)

      king  fred  gift
Row1    10    40    70
Row2    20    50    80
Row3    30    60    90

# How to change index and names on existing dataframe?, quetion 2

In [6]:
import pandas as pd

In [7]:
# creating existing Dataframe 
df = pd.DataFrame({
    "Name": ["wisdom", "henry", "ola"],
    "Age": [30, 35, 40],
    "Salary": [40000, 50000, 60000]
})

# displace original DataFrame
print("original DataFrame:\n", df, "\n")

# changing the index and names to a new one
df.index = ["Emp1", "Emp2", "Emp3"]

# renaming columns
df.rename(columns={"Name": "Employee Name", "Age": "Employee age", "Salary": "Annual Salary"}, inplace=True)

# displace modified DataFrame
print("modified DataFrame:\n",df)

original DataFrame:
      Name  Age  Salary
0  wisdom   30   40000
1   henry   35   50000
2     ola   40   60000

modified DataFrame:
      Employee Name  Employee age  Annual Salary
Emp1        wisdom            30          40000
Emp2         henry            35          50000
Emp3           ola            40          60000

# Create a dataframe from python dictionary?, Question 3

In [8]:
import pandas as pd

In [9]:
# creating a dictionary
data = {
    "Name": ["wisdom", "henry", "ola"],
    "Age": [30,35,40],
    "Salary": [40000, 50000, 60000]
}

# creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Displace the DataFrame
print(df)

     Name  Age  Salary
0  wisdom   30   40000
1   henry   35   50000
2     ola   40   60000